* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.d-none {
    display: none !important;
}

.hidden {
    visibility: hidden;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(294deg) brightness(500%) contrast(101%);
}

.flex {
    display: flex;
}

.flex-align {
    display: flex;
    align-items: center;
}

.gap-15 {
    gap: 15px;
}

#main {
    margin-left: 232px;
    width: calc(100vw - 232px);
    display: flex;
    flex-direction: column;
    background-color: #F6F7F8;
    height: 100vh;
}

#main h1 {
    font-size: 61px;
    line-height: 73.2px;
    font-weight: 700;
    margin-bottom: 48px;
}

#container-form {
    flex: 1;
    width: calc(100vw - 342px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0 64px 110px;
}

#form-top {
    margin-bottom: 30px;
}

#form-add-task {
    display: flex;
    gap: 80px;
}

#form-left,
#form-right {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container-input-label {
    position: relative;
    display: flex;
    flex-direction: column;
}


.label-add-task {
    color: #2A3647;
    padding-bottom: 8px;
}

.asterisk {
    color: red;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

#asterisk-due-date {
    align-self: flex-start;
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
}

.input-unvalid {
    border: 1px solid #FF8190 !important;
}

.required {
    height: 16px;
    font-size: 12px;
    line-height: 14px;
    padding-top: 2px;
    color: red;
}

.required-max-chars {
    height: 16px;
    font-size: 12px;
    line-height: 14px;
    padding-top: 2px;
    color: red;
}

#max-char-title {
    padding-left: 10px;
}

#invalid-date {
    margin-left: 20px;
}

#title {
    height: 48px;
    padding: 12px 21px;
}

.label-add-task,
#title,
#description,
#due-date,
.big-task-card-edit__input-due-date,
#assigned-to,
.big-task-card-edit__assigned-to-input,
#category,
#subtasks,
.big-task-card-edit__subtask-input {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

#title::placeholder,
#description::placeholder,
#due-date::placeholder,
.big-task-card-edit__input-due-date::placeholder,
#subtasks::placeholder,
.big-task-card-edit__subtask-input::placeholder {
    color: #D1D1D1;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

#title:focus {
    outline: none;
}

#description:focus {
    outline: 1px solid #94D5F0;
}

#container-input-assigned:focus-within,
.big-task-card-edit__assigned-to-box:focus-within,
#container-input-category:focus-within,
#container-input-due-date:focus-within,
.big-task-card-edit__input-due-date-box:focus-within,
#container-input-subtask:focus-within,
.big-task-card-edit__subtask-box:focus-within,
.big-task-card-edit__textarea:focus-within {
    border: 1px solid #94D5F0;
}

#description {
    min-height: 120px;
    max-height: 220px;
    max-width: 440px;
    padding: 18px 16px;
    display: flex;
    background-image: url(../assets/icons/resizer.svg);
    background-repeat: no-repeat;
    background-position: right 5px bottom 5px;
    background-size: 19px;
}

#description::-webkit-resizer {
    display: none;
}

#assigned-to,
.big-task-card-edit__assigned-to-input,
#category {
    height: 48px;
    padding: 12px 21px 11px 21px;
    appearance: none;
}

#container-input-assigned,
.big-task-card-edit__assigned-to-box,
#container-input-category,
#container-input-subtask,
.big-task-card-edit__subtask-box,
#container-input-due-date,
.big-task-card-edit__input-due-date-box {
    border: 1px solid #D1D1D1;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#container-input-assigned,
.big-task-card-edit__assigned-to-box {
    z-index: 4;
}

#container-input-category {
    z-index: 2;
}

#container-input-assigned:hover,
.big-task-card-edit__assigned-to-box:hover {
    cursor: pointer;
}

#assigned-to,
.big-task-card-edit__assigned-to-input,
#category,
#subtasks,
.big-task-card-edit__subtask-input,
#due-date,
.big-task-card-edit__input-due-date {
    border: none;
    outline: none;
    border-radius: 10px;
    flex: 1;
}

#assigned-to:hover,
.big-task-card-edit__assigned-to-input:hover,
#category:hover {
    cursor: pointer;
}

#assigned-to::placeholder,
.big-task-card-edit__assigned-to-input::placeholder,
#category::placeholder {
    color: black;
}

.button-dropdown,
.button-add {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.button-accept-reject {
    margin: 0;
}

.button-dropdown:hover,
.button-add:hover {
    background-color: #D1D1D1;
    cursor: pointer;
}

.container-button-confirm {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
}

.container-button-confirm hr {
    height: 20px;
}

#container-input-assigned img,
.big-task-card-edit__assigned-to-box img {
    width: 10px;
    padding-top: 2px;
    padding-right: 1px;
}

#container-assigned-contacts,
.big-task-card-edit__assigned-contacts-box {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    min-height: 4px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
    max-width: 100%;
}

.custom-select {
    position: relative;
}

#container-input-assigned,
.big-task-card-edit__assigned-to-box {
    position: relative;
}

#container-dropdown,
.big-task-card-edit__assigned-to-dropdown {
    position: absolute;
    top: 32px;
    z-index: 3;
    width: 440px;
    min-height: 48px;
    max-height: 298px;
    background-color: white;
    border-radius: 10px;
}

#container-description,
#container-prioritys,
.big-task-card-edit__prioritys-box {
    padding-bottom: 16px;
}

.container-custom-select-options {
    width: 435px;
    min-height: 48px;
    max-height: 248px;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    margin-top: 50px;
}

.container-custom-select-options-noscroll {
    position: absolute;
    top: 32px;
    z-index: 1;
    width: 440px;
    min-height: 48px;
    max-height: 248px;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    padding-top: 48px;
}

.container-custom-select-options::-webkit-scrollbar {
    width: 7px;
}

#container-assigned-contacts::-webkit-scrollbar,
.big-task-card-edit__assigned-contacts-box::-webkit-scrollbar {
    height: 4px;
}

.container-custom-select-options::-webkit-scrollbar-button:vertical:increment,
.container-custom-select-options::-webkit-scrollbar-button:vertical:decrement {
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    height: 30px;
}

.container-custom-select-options::-webkit-scrollbar-button:vertical:increment {
    background-image: url(../assets/icons/scrollbar-button-bottom.svg);
}

.container-custom-select-options::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(../assets/icons/scrollbar-button-top.svg);
}

.container-custom-select-options::-webkit-scrollbar-thumb,
#container-assigned-contacts::-webkit-scrollbar-thumb,
.big-task-card-edit__assigned-contacts-box::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 5px;
    border-radius: 10px;
}

.container-custom-select-options::-webkit-scrollbar-track,
#container-assigned-contacts::-webkit-scrollbar-track,
.big-task-card-edit__assigned-contacts-box::-webkit-scrollbar-track {
    border-radius: 10px;
}

.box-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-custom-select-option {
    margin-bottom: 2px;
    height: 48px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 21px;
    border-radius: 10px;
}

.select-option-with-scrollbar {
    max-width: 423px;
}

.container-custom-select-option:hover {
    background-color: #EEEEEE;
}

.container-custom-select-option:last-child {
    margin-bottom: 0;
}

.container-custom-select-option:hover {
    cursor: pointer;
}

.selected-hover:hover {
    background-color: #091931 !important;
}

.initials {
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    font-family: Inter;
    font-size: 12px;
    flex: 0 0 42px;
}

.name,
.category {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

hr {
    border: 1px solid #D1D1D1;
}

#due-date, 
.big-task-card-edit__input-due-date {
    height: 48px;
    padding: 12px 16px;
}

#date-picker,
.big-task-card-edit__input-date-picker {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: none;
    outline: none;
    border-radius: 50%;
}

#date-picker::-webkit-datetime-edit-year-field,
.big-task-card-edit__input-date-picker::-webkit-datetime-edit-year-field,
#date-picker::-webkit-datetime-edit-month-field,
.big-task-card-edit__input-date-picker::-webkit-datetime-edit-month-field,
#date-picker::-webkit-datetime-edit-week-field,
.big-task-card-edit__input-date-picker::-webkit-datetime-edit-week-field,
#date-picker::-webkit-datetime-edit-day-field,
.big-task-card-edit__input-date-picker::-webkit-datetime-edit-day-field {
    color: transparent;
}

#date-picker:hover,
.big-task-card-edit__input-date-picker:hover {
    background-color: #D1D1D1;
    cursor: pointer;
}

#date-picker::-webkit-calendar-picker-indicator,
.big-task-card-edit__input-date-picker::-webkit-calendar-picker-indicator {
    width: 30px;
    height: 30px;
    background-image: url(../assets/icons/calendar.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center center;
}

#date-picker::-webkit-calendar-picker-indicator:hover,
.big-task-card-edit__input-date-picker::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

#label-due-date {
    display: flex;
    align-items: center;
}

#prio {
    height: 48px;
}

#label-subtasks {
    display: flex;
    align-items: center;
    gap: 20px;
}

#subtasks,
.big-task-card-edit__subtask-input {
    height: 48px;
    padding: 12px 16px;
}

#buttons-prio,
.big-task-card-edit__prioritys-button-box {
    height: 56px;
    display: flex;
    gap: 16px;
}

#buttons-prio img,
.big-task-card-edit__prioritys-button-box img {
    width: 20px;
}

.button-prio {
    width: 136px;
    height: 56px;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    box-shadow: 0 0 4px 0 #0000001A;
}

.urgent {
    background-color: #FF3D00;
}

.medium {
    background-color: #FFA800;
}

.low {
    background-color: #7AE229;
}

.button-prio-hover:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

input:focus {
    border: 1px solid #29abe2;
}

.position-relative {
    position: relative;
}

#container-subtasks,
.big-task-card-edit__subtasks-box {
    margin-top: 8px;
    min-height: 60px;
    max-height: 60px;
    overflow-y: auto;
}

.container-subtask-edit {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 29px;
    z-index: 1;
    background-color: white;
    padding-right: 10px;
    border-bottom: 1px solid #29ABE2;
}

.container-subtask-edit img:hover {
    cursor: pointer;
}

.padding-top {
    padding-top: 30px;
}

.padding-bottom-8 {
    padding-bottom: 8px;
}

.input-edit {
    border: none;
    outline: none;
    flex: 1;
    padding-left: 20px;
}

.input-edit:focus {
    border: none;
}

.check-blue {
    width: 24px !important;
}

.edit-hr {
    margin: 0 2px 0 7px;
}

.container-subtask {
    min-height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-radius: 10px;
    word-break: normal;
    overflow-wrap: anywhere;
}

.subtask-scroll-margin {
    margin-right: 8px;
}

#container-subtasks::-webkit-scrollbar,
.big-task-card-edit__subtasks-box::-webkit-scrollbar {
    width: 7px;
}

#container-subtasks::-webkit-scrollbar-button:vertical:increment,
.big-task-card-edit__subtasks-box::-webkit-scrollbar-button:vertical:increment,
#container-subtasks::-webkit-scrollbar-button:vertical:decrement,
.big-task-card-edit__subtasks-box::-webkit-scrollbar-button:vertical:decrement {
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
}

#container-subtasks::-webkit-scrollbar-button:vertical:increment,
.big-task-card-edit__subtasks-box::-webkit-scrollbar-button:vertical:increment {
    background-image: url(../assets/icons/scrollbar-button-bottom.svg);
}

#container-subtasks::-webkit-scrollbar-button:vertical:decrement,
.big-task-card-edit__subtasks-box::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(../assets/icons/scrollbar-button-top.svg);
}

#container-subtasks::-webkit-scrollbar-thumb,
.big-task-card-edit__subtasks-box::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 5px;
    border-radius: 10px;
}

#container-subtasks::-webkit-scrollbar-track,
.big-task-card-edit__subtasks-box::-webkit-scrollbar-track {
    border-radius: 10px;
}

.container-subtask:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.subtask-text {
    display: flex;
    gap: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: calc(100% - 45px);
}

.subtask-text-span {
    text-wrap: wrap;
}

.subtask-icons {
    display: flex;
    gap: 7px;
    max-height: 19px;
}

.subtask-icons,
.flex {
    padding-left: 6px;
}

.subtask-icons img {
    width: 16px;
}

.subtask-icons img:hover {
    cursor: pointer;
}

.subtask-icons hr {
    height: 22px;
}

#footer-add-task {
    width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#footer-add-task p {
    height: 24px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

#clear-create-buttons {
    display: flex;
    gap: 16px;
}

#button-clear,
#button-create {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border-radius: 10px;
}

#button-clear {
    color: #2A3647;
    background-color: transparent;
    border: 1px solid #2A3647;
}

#button-create {
    color: white;
    background-color: #2A3647;
    border: none;
}

#button-clear:hover {
    padding: 15px;
    color: #29abe2;
    background-color: transparent;
    border: 2px solid #29abe2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#button-clear:hover img {
    filter: brightness(0) saturate(100%) invert(61%) sepia(91%) saturate(1523%) hue-rotate(166deg) brightness(90%) contrast(97%);
}

#button-clear:active {
    padding: 16px;
    border: 1px solid #091931;
    color: #091931;
}

#button-clear:active img {
    filter: brightness(0) saturate(100%) invert(6%) sepia(70%) saturate(2170%) hue-rotate(205deg) brightness(94%) contrast(96%);
}

#button-create:hover {
    background-color: #29abe2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#button-create:active {
    background-color: #091931;
}

#overlay-task-added {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
}

#task-added {
    position: absolute;
    width: 326px;
    height: 74px;
    padding: 0 24px;
    background-color: #2A3647;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    animation: slide-in 50ms linear;
}

#required-mobile {
    display: none;
}

@keyframes slide-in {
    from {
        top: 100vh;
    }

    to {
        top: 50%;
    }
}

@media screen and not (-webkit-min-device-pixel-ratio:0) {
    .container-custom-select-options {
        scrollbar-width: thin;
        scrollbar-color: #A8A8A8;
    }
}

@media screen and (-moz-device-pixel-ratio) {
    #description {
        background-image: none;
    }

    #date-picker,
    .big-task-card-edit__input-date-picker {
        width: 30px;
        height: 30px;
        padding: 5px 8px 5px 5px;
    }
}

@media(min-width: 1921px) {
    #container-form {
        justify-content: flex-start;
        gap: 100px;
    }

    #form-add-task {
        width: 1538px;
        gap: 0;
        justify-content: space-between;
    }

    #footer-add-task {
        width: 1538px;
    }
}

@media only screen and (min-width: 1040px) and (max-height: 950px) {
    #form-top {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1040px) and (max-height: 920px) {
    #container-form {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 1040px) and (max-height: 880px) {
    #container-form {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 1040px) and (max-height: 815px) {
    #container-form {
        max-height: calc(100dvh - 100px);
    }

    #form-add-task {
        max-height: 494px;
        overflow: auto;
    }

    #footer-add-task {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 1040px) and (max-height: 890px) {
    #form-top {
        padding-top: 30px !important;
    }
}

@media only screen and (max-width: 1040px) and (max-height: 860px) {
    #container-form {
        max-height: calc(100dvh - 160px);
    }

    #form-add-task {
        max-height: 494px;
        overflow: auto;
    }
}

@media only screen and (max-width: 1040px) and (max-height: 800px) {
    #form-top {
        padding-top: 15px !important;
        margin-bottom: 15px !important;
    }
}

@media only screen and (max-width: 1500px) {

    #container-form {
        width: 1016px;
        padding-left: 70px;
    }

    #form-add-task {
        gap: 32px;
    }

    #footer-add-task {
        width: 946px;
    }
}

@media only screen and (max-width: 1320px) {
    #container-form {
        padding-left: 40px;
    }

    #form-add-task {
        gap: 24px;
    }

    #footer-add-task {
        width: 930px;
    }
}

@media only screen and (max-width: 1250px) {
    #container-form {
        padding-left: 16px;
        width: calc(100vw - 232px);
    }

    #form-add-task {
        gap: 16px;
    }

    #footer-add-task {
        width: 914px;
    }
}

@media only screen and (max-width: 1185px) {

    #form-left,
    #form-right,
    #container-dropdown,
    .big-task-card-edit__assigned-to-dropdown,
    .container-custom-select-options,
    .container-custom-select-options-noscroll {
        width: 400px;
    }

    #footer-add-task {
        width: 834px;
    }
}

@media only screen and (max-width: 1100px) {

    #form-left,
    #form-right,
    #container-dropdown,
    .big-task-card-edit__assigned-to-dropdown,
    .container-custom-select-options,
    .container-custom-select-options-noscroll {
        width: 380px;
    }

    #footer-add-task {
        width: 796px;
    }
}

@media only screen and (max-width: 1060px) {

    #form-left,
    #form-right,
    #container-dropdown,
    .big-task-card-edit__assigned-to-dropdown,
    .container-custom-select-options,
    .container-custom-select-options-noscroll {
        width: 370px;
    }

    #footer-add-task {
        width: 776px;
    }
}

@media only screen and (max-width: 1040px) {
    .account-submenu-container {
        top: 80px;
    }

    #main {
        margin-left: 0;
        width: 100vw;
        align-items: center;
        height: 100dvh;
    }

    #container-form {
        width: 806px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    #form-top {
        padding-top: 56px;
        align-self: flex-start;
    }

    #form-top h1 {
        margin-bottom: 0;
    }

    #form-add-task {
        gap: 32px;
    }

    #footer-add-task {
        width: 806px;
        margin: 7px 0;
    }

    .menu-box {
        position: relative;
        margin-top: auto;
    }

    header {
        position: relative;
    }
}

@media only screen and (max-width: 865px) {
    #form-add-task {
        gap: 16px;
    }

    #container-form,
    #footer-add-task {
        width: 774px;
    }
}

@media only screen and (max-width: 810px) {
    body {
        display: block;
        max-height: 100dvh;
    }

    #container-form {
        width: 440px;
        max-height: calc(100dvh - 164px);
    }

    #form-top {
        align-self: flex-start;
        margin-bottom: 32px;
    }

    #form-add-task {
        flex-direction: column;
        overflow: auto;
        padding: 0 2px;
    }

    #form-add-task::-webkit-scrollbar {
        display: none;
    }

    #form-add-task {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    #form-left,
    #form-right {
        width: 440px;
    }

    #separator {
        display: none;
    }

    #container-dropdown,
    .big-task-card-edit__assigned-to-dropdown,
    .container-custom-select-options,
    .container-custom-select-options-noscroll {
        width: 440px;
    }

    #required-mobile {
        display: block;
        align-self: flex-start;
    }

    #footer-add-task {
        width: 100%;
        justify-self: flex-end;
        align-self: flex-end;
    }

    #footer-add-task p {
        display: none;
    }

    #clear-create-buttons {
        width: 100%;
        justify-content: flex-end;
        gap: 32px;
    }

    #clear-create-buttons button {
        height: 56px;
    }
}

@media only screen and (max-width: 465px) {
    #form-top h1 {
        font-size: 47px;
    }

    #title,
    #due-date,
    #subtasks,
    .big-task-card-edit__subtask-input,
    #assigned-to,
    .big-task-card-edit__assigned-to-input,
    #category {
        height: 40px;
        padding: 0px 21px;
    }

    #description {
        min-height: 80px;
    }

    #title::placeholder,
    #description::placeholder,
    #due-date::placeholder,
    #subtasks::placeholder,
    .big-task-card-edit__subtask-input::placeholder,
    #assigned-to::placeholder,
    .big-task-card-edit__assigned-to-input::placeholder,
    #category::placeholder {
    font-size: 16px;
    line-height: 20px;
    }

    #container-dropdown,
    .big-task-card-edit__assigned-to-dropdown {
        min-height: 40px;
    }

    .label-add-task {
        font-size: 16px;
    }

    #container-form {
        width: 400px;
    }

    #form-add-task {
        width: 100%;
    }

    #form-left,
    #form-right {
        width: 100%;
    }

    #container-dropdown,
    .big-task-card-edit__assigned-to-dropdown {
        width: 100%;
    }

    .container-custom-select-options,
    .container-custom-select-options-noscroll {
        width: 100%;
    }

    #buttons-prio,
    .big-task-card-edit__prioritys-button-box {
        height: 41px;
    }

    .button-prio {
        height: 41px;
        font-size: 16px;
    }

    .name {
        font-size: 16px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 428px) {
    #container-form {
        width: 380px;
    }
}

@media only screen and (max-width: 400px) {
    #container-form {
        width: 360px;
    }

    #clear-create-buttons {
        gap: 16px;
    }

    #clear-create-buttons button {
        height: 50px;
    }

    #task-added {
        width: 280px;
    }
}

@media only screen and (max-width: 380px) {
    #container-form {
        width: 340px;
    }
}

@media only screen and (max-width: 360px) {
    #container-form {
        width: 320px;
    }

    .container-custom-select-option {
        padding: 0 12px;
    }
}

@media only screen and (max-width: 340px) {
    #container-form {
        width: 300px;
    }

    #assigned-to,
    .big-task-card-edit__assigned-to-input {
        padding-right: 10px;
    }
}