* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
    scrollbar-width: thin;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0 rgb(0, 0, 0, 0.1);
    margin-bottom: 4px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    padding-right: 40px;
    padding-left: 348px;
}

.text-content-container {
    position: absolute;
    height: calc(100% - 10%);
    top: 96px;
    left: 232px;
    overflow: auto;
    word-wrap: break-word;
}

.text-content {
    margin: 110px 96px 64px 96px;
}

.text-back-arrow-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.text-container {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.left-btn img {
    position: fixed;
    width: 32px;
    height: 32px;
    right: 70px;
    cursor: pointer;
    transform-origin: right;
}

.left-btn img:hover {
    background-color: rgba(0, 0, 0, 0.034);
    border-radius: 50px;
    transform: scale(1.1);
}

.text-container>strong {
    font-size: 25px;
}

h1 {
    font-size: 61px;
}

h2 {
    font-size: 27px;
    margin-bottom: 10px;
}

h3 {
    font-size: 23;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 5px;
}

.bigger-area {
    margin-bottom: 30px;
}

a,
.join-text {
    color: #29ABE2;
    text-decoration: none;
}

.enjoy {
    margin-top: 50px;
}

@media (min-width: 1920px) {
    header {
        justify-content: flex-start;
    }

    nav {
        width: 1920px;
    }

    .text-content-container {
        height: calc(100% - 96px);
        width: calc(1920px - 232px);
    }

    .left-btn img {
        right: calc(100vw - 1920px + 70px);
    }
}

@media (max-width: 1040px) {
    nav {
        padding: 16px;
    }

    .button-box {
        display: flex;
    }

    .text-content-container {
        top: 80px;
        left: 0;
        height: calc(100% - 16.8%);
    }

    .text-content {
        margin: 48px 26px 48px 16px;
    }

    .left-btn {
        position: relative;
    }

    .left-btn img {
        position: relative;
        right: 0;
    }

    .left-btn img:hover {
        background-color: transparent;
        border-radius: 50px;
        transform: scale(1);
    }
}